<!DOCTYPE html>
<html>
<head>
  <title>SaasySimple</title>
  <%= stylesheet_link_tag    "SaasySimple/application" %>
  <%= javascript_include_tag "SaasySimple/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
